<div *ngIf="this.authService.isLoggedIn; else loginForm">
  {{this.redirectToUrl("user")}}
</div>
<ng-template #loginForm>
  <div class="container login-container">
    <div class="row">
      <div class="col-md-5">
        <div class="login-logo ">
          <img src="../../../assets/images/logo.jpg" alt=""/>
        </div>

        <form name="form" class="login-form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

          <div class="form-group">
            <input id="username" name="username" type="text" class="form-control"
                   placeholder="Логин" [(ngModel)]="form.username" #username="ngModel" required/>

            <div *ngIf="f.submitted && username.invalid">
              <div class="alert alert-danger danger" *ngIf="username.errors.required">Введите логин</div>
            </div>

          </div>

          <div class="form-group">
            <input id="password" name="password" class="form-control"
                   placeholder="Пароль" type="password" [(ngModel)]="form.password" #password="ngModel" required/>

            <div *ngIf="f.submitted && password.invalid">
              <div class="alert alert-danger danger" *ngIf="password.errors.required">Введите пароль</div>
            </div>

          </div>

          <div class="form-group">
            <button class="button-submit">Войти</button>

            <div *ngIf="f.submitted && this.authService.isLoginFailed" class="alert alert-danger danger">
              Ошибка: {{errorMessage}}
            </div>
          </div>

          <div class="horizontal-separator">
            <p>или</p>
          </div>
          <div class="form-group">
            <button type="button" (click)="redirect()" class="button-signup">Зарегистрировасться</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</ng-template>
