<div class="container">
  <!-- Info Panel -->
  <div class="info-tab">
    <div class="search-panel">
      <input class="form-control" type="text" [formControl]="searchTextControl" placeholder="Найти...">
    </div>
    <div *ngIf="!isWorkoutComplexEditable" class="button-panel">
      <button type="button" (click)="openFormToCreatingWorkoutComplex()" class="dark-button">
        <i class="fa fa-plus"></i> Создать комплекс
      </button>
      <button type="button"
              [disabled]="selectedWorkoutComplex == null"
              class="dark-button"
              [routerLink]="[selectedWorkoutComplex === null ? null : selectedWorkoutComplex.id, 'workout', 'create']">
        <i class="fa fa-plus"></i> Создать тренировку
      </button>
    </div>
    <div *ngIf="isWorkoutComplexEditable" class="button-panel">
      <button type="button" (click)="saveEditedOrCreatedWorkoutComplex()" class="dark-button">
        <i class="fa fa-pencil"></i> Сохранить
      </button>
      <button type="button" (click)="cancel()" class="dark-button">
        <i class="fa fa-trash-o"></i> Отмена
      </button>
    </div>
  </div>

  <div class="workout-panel">
    <!-- WorkoutComplex Menu -->
    <div class="workout-complex-list">
      <mat-list class="">
        <mat-list-item (click)="selectAllWorkouts()" class="list-group-item list-group-item-action ">
          <div class="row workout-complex-list-element">
            <i class="fa fa-book m-1"></i>
            <label>Все тренировки</label>
          </div>
        </mat-list-item>

        <mat-list-item *ngFor="let workoutComplex of workoutComplexes"
                       (click)="selectWorkoutComplex(workoutComplex)" class="">
          <div class="workout-complex-list-element">
            <i class="fa fa-book m-1"></i>
            <label>{{workoutComplex.name}}</label>
            <i *ngIf="!isWorkoutComplexEditable" class="fa fa-trash-o text-danger icon pull-right"
               (click)="deleteWorkoutComplex(workoutComplex)"></i>
          </div>
        </mat-list-item>
      </mat-list>
    </div>

    <!-- Workouts panel -->
    <div class="workout-card-panel">
      <!-- Workouts Complex Header -->
      <div>
        <div *ngIf="selectedWorkoutComplex != null && isWorkoutComplexEditable">
          <div class="row">
            <h4 class="label">Название комплекса:</h4>
            <input id="wcname" type="text"
                   class="form-control"
                   [formControl]="nameWorkoutComplexControl"/>
          </div>
          <div class="row">
            <h4 class="label">Описание:</h4>
            <input type="text"
                   class="form-control"
                   [formControl]="descriptionWorkoutComplexControl"/>
          </div>
        </div>

        <div *ngIf="selectedWorkoutComplex != null && !isWorkoutComplexEditable" class="row">
          <h2> {{selectedWorkoutComplex.name}}</h2>
          <a class="icon" (click)="openFormToEditingWorkoutComplex()"><i class="fa fa-pencil fa-2x"></i></a>
        </div>
        <p *ngIf="selectedWorkoutComplex != null && !isWorkoutComplexEditable">
          {{selectedWorkoutComplex.description}}</p>

        <!-- Message if there are no workouts -->
        <h2 *ngIf="selectedWorkoutComplex == null">Все тренировки </h2>
        <p *ngIf="this.workouts.length === 0">В этом тренировочном комплексе нет тренировок :(</p>
      </div>

      <!-- Cards with Workouts -->
      <div class="workout-content">
        <div *ngFor="let w of workouts | workoutFilter:searchTextControl.value">
          <div class="workout-card"
               [routerLink]="[selectedWorkoutComplex === null ? 'all' : selectedWorkoutComplex.id, 'workout', w.id]">
            <div class="workout-card-tab row">
              <a class="icon">
                <i class="fa fa-book"></i>
              </a>
              <h3 class="workout-card-title">{{w.name}}</h3>
              <a (click)="deleteWorkout(w)" class="icon pull-right">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
            <div class="workout-card-body">
              <p *ngFor="let group of getMuscleLoad(w);"> {{group}} </p>
              <p>Сложность: {{getComplexity(w)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
