<div *ngIf="fullVersion" class="header-panel row justify-content-md-center">
  <div class="header" (click)="switchToTable()">
    <h1>Справочник упражнений</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <i
        [className]="displayedStyle==='table' ? ' fa fa-bars fa-2x m-3 active-icon' : ' fa fa-bars fa-2x m-3 inactive-icon'"
        (click)="switchToTable()"></i>
      <i
        [className]="displayedStyle=='card' ? 'active-icon fa fa-th-large fa-2x' : ' fa fa-th-large fa-2x inactive-icon'"
        (click)="switchToCard()"></i>
    </div>
  </div>
</div>

<div [hidden]="displayedStyle !== 'card' ">
  <div class="container">
    <div class="group-card-panel">
      <h6>Выберите группу мышц, чтобы посомтреть упражнения</h6>
      <div class="group-cards">
        <div class="row justify-content-md-center">
          <div class="card group-card" *ngFor="let group of muscleLoad"
               (click)="applyGroupFilter(group)">
            <div class="card-body">
              <img class="group-icon" src="../../../assets/images/{{group}}.jpg" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="displayedStyle !== 'table'">
  <div class="">
    <div class="group-card-panel">
      <div class="tab-header">
        <mat-form-field class="filter-field">
          <input pattern="[a-zA-Z ]*" matInput
                 (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <div class=" mat-elevation-z8">

        <mat-table class="exercise-table" #table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? selectALlExercise() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selectExercise(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Название упражнения</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="complexity">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let element"
                      [ngStyle]="{
                      'backgroundColor': 'rgba(' + (500 * element.infForRecommendation.complexity ) + ',' +
                        + (500 * (1 - element.infForRecommendation.complexity) ) + ',' +
                        ' 0,' +
                         '0.7)'
                      }">
              {{element.infForRecommendation.complexity}}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"
                   [appCdkDetailRow]="row"
                   [appCdkDetailRowTpl]="tpl">
          </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [hidePageSize]="true"></mat-paginator>
      </div>

      <ng-template #tpl let-element>
        <div class="mat-row detail-row" [@detailExpand]>
          <app-exercise [exercise]="element"></app-exercise>
        </div>
      </ng-template>
    </div>
  </div>
</div>
