.tab {
  min-height: 64px;
  padding: 8px 24px 0;
}

.filter-field {
  font-size: 14px;
  width: 100%;
}

.exercise-table {
  overflow: auto;
  max-height: 500px;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.tab-group {
  background-color: #00063d;
}

.icons {
  margin-bottom: 10px;
}

.description {
 overflow: hidden;
}
