<div class="container icons">
  <div class="row">
    <div class="col-md-12">
      <i class="fa fa-bars fa-2x pull-right" (click)="switchToTable()"></i>
      <i class="fa fa-th-large fa-2x pull-right" (click)="switchToCard()"></i>
    </div>
  </div>
</div>

<div *ngIf="displayedStyle=='card' then cards else table"></div>

<ng-template #cards>
  <div class="card " *ngFor="let group of muscleLoad"
       (click)="applyGroupFilter(group)">
    <div class="card-body">
      <img src="../../../assets/images/{{group}}.jpg" alt=""/>
    </div>
  </div>
</ng-template>

<ng-template #table>
  <div class="container">
    <div class="tab-header">
      <mat-form-field class="filter-field">
        <input pattern="[a-zA-Z ]*" matInput
               (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class=" mat-elevation-z8">

      <mat-table class="exercise-table" #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row"
                 [cdkDetailRowTpl]="tpl">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [hidePageSize]="true"></mat-paginator>
    </div>

    <ng-template #tpl let-element>
      <div class="mat-row detail-row exercise" [@detailExpand]>
        <app-exercise [exercise]="element"></app-exercise>
      </div>
    </ng-template>
  </div>
</ng-template>
