<div *ngIf="isLoaded && errorMessage===null" class="error-container">
  <div class="error-panel">
    <p class="error-title">Ошибка: {{errorMessage}}</p>
  </div>
</div>

<div *ngIf="isLoaded && errorMessage===null" class="container">
  <div class="info-tab">
    <div *ngIf="!isEditable" class="nav-panel">
      <i class="fa fa fa-angle-left fa-2x icon" (click)="back()"></i>
      <h3 class="label">{{workout.name}}</h3>
    </div>
    <div *ngIf="!isEditable" class="nav-panel column">
      <h3 class="label">Тренировочный комплекс:</h3>
      <select [disabled]="true" class="form-control">
        <option *ngFor="let w of workoutComplexes "
                [selected]="w.id === sourceWorkoutComplex.id">{{w.name}}</option>
      </select>
    </div>
    <div *ngIf="!isEditable" class="button-panel">
      <button type="button" (click)="setEditable(true)" class="dark-button">
        <i class="fa fa-pencil"></i> Редактировать
      </button>
      <button type="button" (click)="deleteWorkout()" class="dark-button">
        <i class="fa fa-trash-o"></i> Удалить
      </button>
    </div>

    <div *ngIf="isEditable" class="nav-panel column">
      <h3 class="label">Название</h3>
      <input type="text" [formControl]="nameWorkoutControl" class="form-control">
    </div>
    <div *ngIf="isEditable" class="nav-panel column">
      <h3 class="label">Тренировочный комплекс:</h3>
      <select [formControl]="sourceWorkoutComplexIdControl" class="description form-control">
        <option *ngFor="let w of workoutComplexes"
                [value]="w.id">{{w.name}}</option>
      </select>
    </div>
    <div *ngIf="isEditable" class="button-panel">
      <button type="button" (click)="saveEditedOrCreatedWorkoutComplex()" class="dark-button">
        <i class="fa fa-pencil"></i> Сохранить
      </button>
      <button type="button" (click)="cancel()" class="dark-button">
        <i class="fa fa-trash-o"></i> Отмена
      </button>
    </div>
  </div>

  <div class="workout-description">
    <div class="description column">
      <div *ngIf="!isEditable" class="description">
        <h3>Описание:</h3>
        <p *ngIf="!isEditable">{{workout.description}}</p>
      </div>
      <div *ngIf="isEditable" class="description">
        <h3>Описание:</h3>
        <textarea [formControl]="descriptionWorkoutControl" rows="4" cols="55">
          </textarea>
      </div>
    </div>
    <div class="parameters column">
      <div class="parameters">
        <h4>Основные мышцы:</h4>
        <p *ngFor="let group of getMuscleLoad(workout);"> {{group}} </p>

        <h4>Сложность:</h4>
        <p>{{getComplexity(workout)}}</p>
      </div>
    </div>
  </div>

  <div class="workout-content">
    <div class="header-tab">
      <div class="header"><p>Список упражнений</p></div>
      <div class="header"><p *ngIf="isEditable">Справочник упражнений</p></div>
    </div>
    <div class="two-tables">
      <div [ngClass]="{'not-editable-exercise-table':!isEditable,'editable-exercise-table':isEditable}">
        <div [ngClass]="{'exercise-table mat-elevation-z8':!isEditable,
     'mat-elevation-z8':isEditable}">

          <mat-table class="exercise-table" #table [dataSource]="dataSource"
                     cdkDropList
                     [cdkDropListData]="dataSource"
                     [cdkDropListDisabled]="!isEditable"
                     (cdkDropListDropped)="drop($event)">

            <ng-container matColumnDef="name">
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="complexity">
              <mat-cell *matCellDef="let element"
                        [ngStyle]="{
                     'backgroundColor': 'rgba(' + (500 * element.infForRecommendation.complexity ) + ',' +
                       + (500 * (1 - element.infForRecommendation.complexity) ) + ',' +
                       ' 0,' +
                        '0.7)'
                     }">
                {{element.infForRecommendation.complexity}}
              </mat-cell>
            </ng-container>

            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     cdkDrag
                     [cdkDragData]="row"
                     class="element-row"
                     [appCdkDetailRow]="row"
                     [appCdkDetailRowTpl]="tpl"
            >
            </mat-row>
          </mat-table>

          <ng-template #tpl let-element>
            <div class="mat-row detail-row" [@detailExpand]>
              <app-exercise [exercise]="element"></app-exercise>
            </div>
          </ng-template>

        </div>
      </div>
      <div *ngIf="isEditable" class="checked-exercise-table">
        <app-directory></app-directory>
      </div>
    </div>
  </div>
</div>
