.create-wcomplex-button {
  margin: 3px;
  font-weight: 600;
  width: 100%;
  color: #fff;
  background-color: #c5303a;
  border-radius: 5px;
  border: none;
  padding: 2%;
}

.create-w-button {
  margin: 3px;
  font-weight: 600;
  width: 100%;
  color: #fff;
  background-color: #00063d;
  border-radius: 5px;
  border: none;
  padding: 2%;
}

.back {
  background-color: #00063d;
  height: 100vh;
}

.workout-menu {
  margin-top: 12px;
}

.search-panel{
  align-self: center;
}
.workout-panel {
  margin-top: 20px;
}
.white-icon{
  color: white;
}
.title {
  width: 80%;
}
