<div *ngIf="!this.authService.isLoggedIn; else userPage">
  {{this.router.navigateByUrl("authentication/signin")}}
</div>

<ng-template #userPage>
  <div class="container">
    <!-- Info Panel -->
    <div class="info-tab">
      <div *ngIf="selectedWorkout === null" class="row workout-menu">
        <div class="col-md-8 align-self-center">
          <input type="text" class="form-control" placeholder="Search workouts...">
        </div>
        <div class="col-md-4">
          <button type="button" (click)="createWorkoutComplex()" class="dark-button">
            <i class="fa fa-plus"></i> Создать комплекс
          </button>
          <button type="button" (click)="createWorkout(selectedWorkoutComplex.id)"
                  [disabled]="selectedWorkoutComplex == null"
                  class="dark-button">
            <i class="fa fa-plus"></i> Создать тренировку
          </button>
        </div>
      </div>

      <div *ngIf="selectedWorkout !== null" class="row workout-menu">
        <div class="col-md-8">
          <div class="row align-self-center">
            <i class="fa fa fa-angle-left fa-2x m-4" (click)="selectWorkoutComplex(selectedWorkoutComplex)"></i>
            <h3 class="align-self-center">{{selectedWorkout.name}}</h3>
          </div>
        </div>
        <div class="col-md-4">
          <button type="button" (click)="updateWorkout(selectedWorkout)" class="dark-button">
            <i class="fa fa-pencil"></i> Редактировать
          </button>
          <button type="button" (click)="deleteWorkout(selectedWorkout)" class="dark-button">
            <i class="fa fa-trash-o"></i> Удалить
          </button>
        </div>
      </div>
    </div>

    <div class="row workout-panel">
      <!-- WorkoutComplex Menu -->
      <div *ngIf="selectedWorkout === null" class="col-md-3 workout-complex-list">
        <div class="list-group list-group-flush">
          <a (click)="selectAllWorkouts()" class="list-group-item list-group-item-action ">
            <div class="row workout-complex-list-element">
              <i class="fa fa-book m-1"></i>
              <label>Все тренировки</label>
            </div>
          </a>

          <a *ngFor="let workoutComplex of workoutComplexes"
             (click)="selectWorkoutComplex(workoutComplex)" class="list-group-item list-group-item-action">
            <div class="row workout-complex-list-element">
              <i class="fa fa-book m-1"></i>
              <label>{{workoutComplex.name}}</label>
              <i class="fa fa-trash-o text-danger m-1" (click)="deleteWorkoutComplex(workoutComplex)"></i>
            </div>
          </a>
        </div>
      </div>

      <!-- Workouts panel -->
      <div *ngIf="selectedWorkout === null" class="col-md-9">
        <div class="row">
          <!-- Workouts Complex Header -->
          <div class="col-md-12">
            <h3 *ngIf="selectedWorkoutComplex != null">{{selectedWorkoutComplex.name}}</h3>
            <p *ngIf="selectedWorkoutComplex != null">{{selectedWorkoutComplex.description}}</p>

            <!-- Message if there are no workouts -->
            <h3 *ngIf="selectedWorkoutComplex == null">Все тренировки </h3>
            <p *ngIf="this.workouts.length === 0">В этом тренировочном комплексе нет тренировок :(</p>
          </div>

          <!-- Cards with Workouts -->
          <div class="row workout-content">
            <div *ngFor="let w of workouts">
              <div class="card workout-card" (click)="selectWorkout(w)">
                <div class="row workout-card-tab">
                  <a>
                    <i class="fa fa-book m-1"></i>
                  </a>

                  <h5 class="workout-card-title">{{w.name}}</h5>

                  <a (click)="deleteWorkout(w)" class="pull-right text-danger">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </div>
                <div class="card-body">
                  <div>
                    <p *ngFor="let group of getMuscleLoad(w);"> {{group}} </p>
                    <p>Сложность: {{getComplexity(w)}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Workouts panel with detail -->
      <div *ngIf="selectedWorkout !== null" class="col-md-12" >
        <app-workout
          [workout]="selectedWorkout"
          [workoutComplexes]="workoutComplexes">
        </app-workout>
      </div>
    </div>
  </div>
</ng-template>
