<div class="card workout-description">
  <div class="card-body inf">
    <div class="row justify-content-md-center">
      <div class="col-md-7">
        <p>{{workout.description}}</p>
        <p *ngFor="let group of getMuscleLoad(workout);"> {{group}} </p>
        <h6>Сложность:</h6> {{getComplexity(workout)}}
      </div>
      <div class="col-5 align-self-center">
        <div class="form-group  list-field">
          <h6>Тренировочный комплекс:</h6>
          <select id="wcomplex" class="form-control">
            <option *ngFor="let w of workoutComplexes">{{w.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 workout-content">
    <div class="header-tab">
      <div class="row justify-content-md-center">
        <p>Список упражнений</p>
      </div>
    </div>
    <div>
      <div class="exercise-table mat-elevation-z8">

        <mat-table class="exercise-table" #table [dataSource]="dataSource">

          <ng-container matColumnDef="name">
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="complexity">
            <mat-cell *matCellDef="let element"
                      [ngStyle]="{
                      'backgroundColor': 'rgba(' + (500 * element.infForRecommendation.complexity ) + ',' +
                        + (500 * (1 - element.infForRecommendation.complexity) ) + ',' +
                        ' 0,' +
                         '0.7)'
                      }">
              {{element.infForRecommendation.complexity}}
            </mat-cell>
          </ng-container>

          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectExercise(row)">
          </mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
