<div class="card workout-description">
  <div class="card-body inf">
    <div class="row justify-content-md-center">
      <div class="col-md-7">
        <h6>Описание:</h6>
        <p *ngIf="!isEditable">{{workout.description}}</p>
        <div *ngIf="isEditable">
          <textarea rows="4" cols="55">
            {{workout.description}}"
          </textarea>
        </div>

        <div *ngIf="!isEditable">
          <h6>Основные мышцы:</h6>
          <p *ngFor="let group of getMuscleLoad(workout);"> {{group}} </p>

          <h6>Сложность:</h6>
          <p>{{getComplexity(workout)}}</p>
        </div>
      </div>
      <div class="col-5 align-self-center">
        <div *ngIf="isEditable" class="form-group list-field">
          <h6>Тренировочный комплекс:</h6>
          <select [(ngModel)]="sourceWorkoutComplex" class="form-control">
            <option *ngFor="let w of workoutComplexes"
                    [selected]="w.id === sourceWorkoutComplex.id">{{w.name}}</option>
          </select>
        </div>
        <div *ngIf="!isEditable" class="form-group  disabled list-field">
          <h6>Тренировочный комплекс:</h6>
          <select [disabled]="true" class="form-control">
            <option *ngFor="let w of workoutComplexes "
                    [selected]="w.id === sourceWorkoutComplex.id">{{w.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 workout-content">
    <div class="header-tab">
      <div class="row justify-content-md-center">
        <p class="m-2">Список упражнений</p>
        <p class="m-2" *ngIf="isEditable">Справочник упражнений</p>
      </div>
    </div>
    <div class="row two-tables">
      <div [ngClass]="{'col-md-12':!isEditable,'col-6 editable-exercise-table':isEditable}">
        <div [ngClass]="{'exercise-table mat-elevation-z8':!isEditable,
      'mat-elevation-z8':isEditable}">

          <mat-table class="exercise-table" #table [dataSource]="dataSource"
                     cdkDropList
                     [cdkDropListData]="dataSource"
                     [cdkDropListDisabled]="!isEditable"
                     (cdkDropListDropped)="drop($event)">

            <ng-container matColumnDef="name">
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="complexity">
              <mat-cell *matCellDef="let element"
                        [ngStyle]="{
                      'backgroundColor': 'rgba(' + (500 * element.infForRecommendation.complexity ) + ',' +
                        + (500 * (1 - element.infForRecommendation.complexity) ) + ',' +
                        ' 0,' +
                         '0.7)'
                      }">
                {{element.infForRecommendation.complexity}}
              </mat-cell>
            </ng-container>

            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectExercise(row)"
                     cdkDrag
                     [cdkDragData]="row"
                     class="element-row"
                     [appCdkDetailRow]="row"
                     [appCdkDetailRowTpl]="tpl"
            >
            </mat-row>
          </mat-table>

          <ng-template #tpl let-element>
            <div class="mat-row detail-row" [@detailExpand]>
              <app-exercise [exercise]="element"></app-exercise>
            </div>
          </ng-template>

        </div>
      </div>
      <div *ngIf="isEditable" class="col-6 pull-right">
        <app-directory [editable]="true" [fullVersion]="false" [displayedStyle]="'table'"
                       [initialSelection]="workout.exercises"
                       (selectedExercise)="addExercise($event)"
                       (unselectedExercise)="deleteExercise($event)"></app-directory>
      </div>
    </div>
  </div>
</div>
