<mat-tab-group>
  <mat-tab label="Техника выполнения">
    <ng-template class="tab-group" matTabContent>
      {{exercise.description.technique}}
    </ng-template>
  </mat-tab>
  <mat-tab label="Особенности">
    <ng-template matTabContent>
      {{exercise.description.features}}
    </ng-template>
  </mat-tab>
  <mat-tab label="Нагрузка на мышцы">
    <ng-template matTabContent>
      {{exercise.infForRecommendation.muscleLoad}}
    </ng-template>
  </mat-tab>
  <mat-tab label="Параметры">
    <ng-template matTabContent>
      {{exercise.measureList}}
    </ng-template>
  </mat-tab>
</mat-tab-group>
