.login-container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
}

.login-form {
  min-width: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5% 9% 3%;
  background: #00063d;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-logo {
  max-width: 150px;
  min-width: 120px;
  background: #00063d;
  border-radius: 25px;
  padding: 0.5%;
  margin-bottom: 10%;
}

.fields-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  border-radius: 15px;
  border: 15px white;
  background-color: white;
  padding-bottom: 20px;
}

.fields {
  min-width: 165px;

  padding: 0 9% 0;
  margin-top: 15px;
  width: 18vw;
}

.button-submit {
  height: 40px;
  width: 100%;
  color: #fff;
  background-color: #c5303a;
  border-radius: 5px;

  font-size: 16px;
  font-weight: 300;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.button-signup {
  height: 40px;
  margin-top: 35px;
  width: 100%;
  color: #00063d;
  background-color: white;
  border-radius: 5px;

  font-size: 16px;
  font-weight: 300;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.horizontal-separator {
  height: 1px;
  width: 100%;
  background-color: honeydew;
  color: honeydew;
  text-align: center;
}

.login-buttons {
  width: 25vw;
  min-width: 185px;
  margin-top: 30px;

  font-size: 16px;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
