<div class="exercise-panel">
  <mat-tab-group>
    <mat-tab label="Техника выполнения">
      <ng-template class="tab-group" matTabContent>
        <div class="exercise-body">
          {{exercise.description.technique}}
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Особенности">
      <ng-template matTabContent>
        <div class="exercise-body">
          {{exercise.description.features}}
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Нагрузка на мышцы">

      <ng-template matTabContent>
        <div class="exercise-body">

          <div class="load-table-panel mat-elevation-z8">

            <mat-table class="load-table" #table [dataSource]="myLoad">

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Группа мышц</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="load">
                <mat-header-cell *matHeaderCellDef> Нагрузка</mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{exercise.infForRecommendation.muscleLoad[element]}}
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
